@import url('https://fonts.googleapis.com/css2?family=Graduate&display=swap');


.result {
  height: 60px;
  background-color:white;
  width: 100%;
}

.result p {
  font-size: 40px;
  margin: 5px;
  font-family: 'Graduate', cursive;

}

.calculator-body {
  max-width: 400px;
  margin: auto;
  margin-top: 40vh;
  border: solid 10px black;
  
}

.button {
  display: block;
  background-color: #bbb;
 
}

button {
  width: 25%;
  height: 60px;
  font-size: 30px;
  font-family: 'Graduate', cursive;
  background-color: rgb(89, 111, 198);
}

img {
  width: 900px;
  height: 300px;
}

.toggle-button {
  width: 50px;
  height: 50px;

}

@media all and (max-width: 400px) {

  .calculator-body {
    max-width: 400px;
   
    margin-top: 30vh;
    border: solid 10px black;
    margin-right: 0;
    margin-left: 0;
    
  }

}